.featuredRooms {
	padding: 5rem 0;
  }
  
  .featuredRoomsCenter {
	width: 80vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
  }
  
  .room {
	flex: 1 1 calc(33.333% - 2rem);
	box-shadow: var(--lightShadow);
	transition: var(--mainTransition);
	border-radius: 10px;
	overflow: hidden;
	background: var(--mainWhite);
  }
  
  .room:nth-child(4) {
	flex: 1 1 100%;
	max-width: 400px;
  }
  
  @media screen and (max-width: 776px) {
	.featuredRoomsCenter {
	  width: 80vw;
	  flex-direction: column;
	  align-items: center;
	}
  }
  
  @media screen and (min-width: 776px) {
	.featuredRoomsCenter {
	  width: 90vw;
	}
  }
  
  @media screen and (min-width: 992px) {
	.featuredRoomsCenter {
	  width: 95vw;
	  max-width: 1170px;
	}
  }
  