.formContainer {
  max-width: 600px; /* Zmniejszono maksymalną szerokość */
  margin: 1rem auto; /* Dodano marginesy u góry i na dole */
  padding: 1rem; /* Zmniejszono padding */
  background: var(--offWhite);
  border-radius: 10px;
  box-shadow: var(--lightShadow);
}

.statusMessage {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #d4edda;
  color: #155724;
  font-size: 0.9rem;
}

.statusMessage.error {
  background-color: #f8d7da;
  color: #721c24;
}

.reservationForm .formGroup {
  margin-bottom: 1rem;
}

.reservationForm .formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--mainBlack);
  font-size: 0.9rem;
}

.reservationForm .formGroup input,
.reservationForm .formGroup textarea {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid var(--mainGrey);
  border-radius: 5px;
  transition: var(--mainTransition);
  font-family: var(--secondFont);
  font-size: 0.9rem;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

.reservationForm .formGroup input:focus,
.reservationForm .formGroup textarea:focus {
  border-color: var(--primaryColor);
  box-shadow: 0 0 5px var(--primaryColor);
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.fixedButton {
  background-color: var(--primaryColor);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  font-family: var(--secondFont);
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  box-shadow: var(--lightShadow);
}

.fixedButton:hover {
  background-color: darken(var(--primaryColor), 10%);
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

@media (max-width: 768px) {
  .formContainer {
    margin: 20px 10px;
  }
}
