.reservationForm {
  background: var(--offWhite);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--lightShadow);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--mainBlack);
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 0.2rem;
  border: 1px solid var(--mainGrey);
  border-radius: 5px;
  transition: var(--mainTransition);
  font-family: var(--secondFont);
  font-size: 1rem;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

.formGroup input:focus,
.formGroup textarea:focus {
  border-color: var(--primaryColor);
  box-shadow: 0 0 5px var(--primaryColor);
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.fixedButton {
  /* position: fixed; */
  bottom: 20px;
  right: 20px;
  background-color: var(--primaryColor);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  box-shadow: var(--lightShadow);
  z-index: 10;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  border: none;
}

.fixedButton:hover {
  background-color: darken(var(--primaryColor), 10%);
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

@media (max-width: 768px) {
  .reservationForm {
    padding: 1rem;
  }

  .reservationForm {
    margin: 1rem;
  }
}
