/* FixedReserveButton.module.css */

.fixedButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primaryColor);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  box-shadow: var(--lightShadow);
  z-index: 10;
}

.fixedButton:hover {
  background-color: darken(var(--primaryColor), 10%);
  background: rgba(255, 255, 255, 0.5); /* White color with 80% opacity */
  color: black;
}
