.blogPost {
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0.2em 1em hsla(20, 20, 20, 0.2);
  transition: box-shadow 0.3s ease;
}

.blogPost:hover {
  box-shadow: 0 0.4em 2em hsla(20, 20, 20, 0.3);
}

.blogHeader {
  background: #f7f7f7;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}

.blogContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.blogContent img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.leftImage {
  display: flex;
  flex-direction: row-reverse;
}

.rightImage {
  display: flex;
  flex-direction: row;
}

.leftImage img,
.rightImage img {
  width: 50%;
  height: auto;
}

.textContent {
  width: 50%;
  margin: auto 1rem;
}

.hidden {
  display: none;
}

.category {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Lora", serif;
  line-height: 1.25;
}

.description {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.readMore {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primaryColor);
  text-decoration: none;
}

.readMore:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .blogContent {
    flex-direction: column;
  }

  .leftImage,
  .rightImage {
    flex-direction: column;
  }

  .leftImage img,
  .rightImage img {
    width: 100%;
  }

  .textContent {
    width: 100%;
    margin-top: 10px;
  }
}
