.blogPost {
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.blogHeader {
  /* background: #f7f7f7; */
  background-color: var(--darkGrey);
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleIcon {
  font-size: 1.5rem;
}

.blogContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.blogContent img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.leftImage {
  display: flex;
  flex-direction: row-reverse;
}

.rightImage {
  display: flex;
  flex-direction: row;
}

.leftImage img,
.rightImage img {
  width: 50%;
  height: auto;
}

.leftImage .textContent,
.rightImage .textContent {
  width: 50%;
  margin: auto 1rem;
}

.hidden {
  display: none;
}

.textContent {
  padding: 1rem;
}

.category {
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

.description {
  margin-bottom: 1rem;
  color: #666;
}

.readMore {
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .blogContent {
    flex-direction: column;
  }

  .leftImage,
  .rightImage {
    flex-direction: column;
  }

  .leftImage img,
  .rightImage img {
    width: 100%;
  }

  .leftImage .textContent,
  .rightImage .textContent {
    width: 100%;
  }
}
