* Slider Styles */
.slider-container {
  width: 100%;
  max-width: 100%; /* Maksymalna szerokość kontenera */
  margin: 0 auto;
  overflow: hidden;
  background: var(--darkGrey); /*  <----------------get back */
}

.slide {
  position: relative;
  text-align: center;
  height: 90vh;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Tekst wyśrodkowany */
}

.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  /* font-family: var(--secondFont); */
  text-transform: uppercase;
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  max-width: 90vw; /* Maksymalna szerokość baneru */
}

.banner h1 {
  font-size: 2rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.5rem auto;
}

.banner p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }

  .banner h1 {
    font-size: 2.5rem;
  }

  .banner p {
    font-size: 1.5rem;
  }

  .slider-container {
    width: 100%;
    max-width: 100%; /* Maksymalna szerokość kontenera */
    margin: 0 auto;
    overflow: hidden;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }

  .banner h1 {
    font-size: 3rem;
  }
}