.roomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.room {
  flex: 1 1 calc(33.333% - 2rem);
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  border-radius: 10px;
  overflow: hidden;
  background: var(--mainWhite);
}

/* .room:nth-child(4) {
  flex: 1 1 100%;
  max-width: 300px;
} */

.room:hover {
  box-shadow: var(--darkShadow);
}

.imgContainer {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.imgContainer img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.priceTop {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: var(--mainWhite);
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 10px;
  font-size: 0.9rem;
  text-align: center;
  transition: var(--mainTransition);
}

.priceTop h6 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: var(--mainSpacing);
}

.roomLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  background: var(--primaryColor);
  color: var(--mainWhite);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}

.roomLink:hover {
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

.toggleIcon {
  text-align: right;
}

@media screen and (min-width: 776px) {
  .roomLink {
    padding: 15px 25px;
  }

  .room:nth-child(4) {
    flex: 0 0 calc(33.333% - 2rem);
    align-self: center;
    max-width: none;
  }
}

.imgContainer:hover img {
  opacity: 0.7;
}

.imgContainer:hover .priceTop {
  opacity: 1;
}

.imgContainer:hover .roomLink {
  transform: translate(-50%, -50%) scale(1);
}

.roomInfo {
  background: var(--mainWhite);
  text-transform: capitalize;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  border-top: 1px solid var(--lightGrey);
  font-family: var(--secondFont);
}
